*{
   box-sizing: border-box; 
}
body{
    margin: 0;
    font-family: Arial,sans-serif;
}
/* header */
.header{
    padding:20px;
    background-color:whitesmoke;
}
.nav{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    background-color:black;
    padding:10px;
}
.nav a{
    color: white;
    text-decoration:none;
    font-weight: bold;
}
/* main */
.main{
    padding: 20px;
}
/* footer */
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

/* media query */
@media(max-width:768px){
.nav{
    flex-direction:column;
    align-items:center;
}
.header h1{
    font-size: 24px;
}
body{
    text-align: center;
}
}