*{
   box-sizing: border-box; 
}
body{
    margin: 0;
    font-family: Arial,sans-serif;
}
.header{
    padding:20px;
    background-color:whitesmoke;
}
.nav{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    background-color:black;
    padding:10px;
}
.nav a{
    color: white;
    text-decoration:none;
    font-weight: bold;
}
.main{
    padding: 20px;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}