body{
    background-color: aliceblue;
    font-family: Arial,sans-serif;
    padding: 40px;
}
h1{
    color: blue;
    font-size: 36px;
    margin-bottom: 10px; 
}
p{
    font-size: 18px;
    color: grey;
}
button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color:grey;
}